html{
  scroll-behavior: smooth
}
.photo{
  border-radius: 150px;
  border: 6px solid rgb(214, 163, 68);
  width: 250px;
  height: 250px;
  display:block;
   margin:auto;

  }
  h3{
    font-family: monospace;
    color: #929292;
    font-size: 20px;
    text-align: center;
  }
  .h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.title{
    font-family: monospace;
    border-radius: 10px;
    font-size: 25px;
    display: block;
    padding: 10px;
    background-color: rgb(214, 163, 68);
    color: floralwhite;
    margin: 40px 400px 5px 40px;
}
.title2{
  font-family: monospace;
  border-radius: 10px;
  font-size: 25px;
  display: block;
  padding: 10px;
  background-color: rgb(214, 163, 68);
  color: floralwhite;
  margin: 40px 400px 5px 40px;
}
.title3{
  font-family: monospace;
  border-radius: 10px;
  font-size: 25px;
  display: block;
  padding: 10px;
  background-color: rgb(214, 163, 68);
  color: floralwhite;
  margin:  40px 400px 5px 40px;

}
.title4{
  font-family: monospace;
  border-radius: 10px;
  font-size: 25px;
  display: block;
  padding: 10px;
  background-color: rgb(214, 163, 68);
  color: floralwhite;
  margin:  40px 400px 5px 40px; 
}
.title5{
  font-family: monospace;
  border-radius: 10px;
  font-size: 25px;
  display: block;
  padding: 10px;
  background-color: rgb(214, 163, 68);
  color: floralwhite;
  margin:  40px 400px 5px 40px;      
}
.title6{
  font-family: monospace;
  border-radius: 10px;
  font-size: 25px;
  display: block;
  padding: 10px;
  background-color: rgb(214, 163, 68);
  color: floralwhite;
  margin:  40px 400px 5px 40px; 
}

.center{
  font-size: 40px;
  color:rgb(214, 163, 68);
  font-family: monospace;
}
p{
  text-align: justify;
  margin: 10px 50px;
  font-size: 22px;
  line-height: 30px;
  font-family: 'PT Sans Caption', sans-serif;
  
}
.skills{
  text-align: justify;  
  font-size: 22px;
  line-height: 30px;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 10px 40px;
}
.code{
  margin: 10px 50px;
  font-family: monospace;
  border-radius: 10px;
  font-size: 16px;
  display: block;
  
}
.education{
  text-align: justify;
  margin: 10px 50px;
  font-size: 22px;
  line-height: 30px;
  font-family: 'PT Sans Caption', sans-serif;  
}
.language{
  text-align: justify;  
  font-size: 22px;
  line-height: 30px;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 5px 40px;
}
.contact li{
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 20px 1290px 5px 40px; 
  background-color: rgb(255, 255, 255);
  text-align: justify;  
  font-size: 22px;
  line-height: 30px;
  font-family: 'PT Sans Caption', sans-serif;
  
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 1px 0px 0px 0px ;

  font-size: 20px;
}
.footer-information{
  width: 300px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
  right: 20px;
  display: flex;
  padding: 0px 20px;
  margin: 20px;
  
}

.github{
margin-right: 20px ;
width: 200px;
height: 80px;
background-size: contain;
background-repeat: no-repeat;
background-image: url("./github_original_wordmark_logo_icon_146506.svg");
transition: .3s;

background-color: white;}
.github:focus {
  border: 0;
  
}

.github:hover {
  border: 1px solid white;
}

.RS{
  width: 200px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./rss.svg");
  transition: .3s;
  margin-right: 100px;
  
  background-color:black;}
  .RS:hover {
    border: 1px solid white;
  }
 
    .email{
      width: 300px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("./email-outlined-envelope-back-symbol_icon-icons.com_57846.svg");
      transition: .3s;
      background-color: white;}
      .emali:hover {
        border: 3px solid white;
      }
      .inst{
        width: 300px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("./instagram_f_icon-icons.com_65485.svg");
        transition: .3s;
        background-color: white;}
        .inst:hover {
          border: 1px solid white;
        }
      .main{
        margin-left: 25%;
        margin-right: 25%;
      }
      .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .card{
        text-transform: uppercase;
       position: relative;
      margin: 10px ;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      display: block;
      text-decoration: none;
      color: #929292;
      border: 3px solid #929292;
      border-radius: 1%;
      }
      
      .cards a:hover{
        transition: 0.5s;
        color: #3e5a4a;
        border: 3px solid #3e5a4a;
      }
    
      .projects-container{
        display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
      }
      
      .picture-link{
        display: block;
      }
      .img{
      display: block;
      width: 600px;
      height: 350px;
      border: 10px;
       border-color:  #e0c341;
       border-width: 100px;
    
    }
    #menu__toggle {
      opacity: 0;
    }
    
    .menu__btn {
      display: flex; 
      align-items: center;  
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
  
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: gray;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: white;
      box-shadow: 1px 0px 6px gray;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: gray;
      font-family: monospace;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    .menu__item:hover {
      color: #d3cccc;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.language-container{
  border-radius: 10px;
  
}
.language{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
}
.lilang{
  color: gray;
    font-family:'PT Sans Caption', sans-serif ;
    background-color: #e0e0e0;
    font-size: 24px;
    margin: 20px 41px;
    display: inline;
    
    border: 3px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  text-transform: uppercase;
 position: relative;
margin: 10px ;
padding: 10px;
font-family: 'Roboto', sans-serif;
display: block;
text-decoration: none;
color: #929292;
border: 3px solid #929292;
border-radius: 1%;
}

.cards a:hover{
  transition: 0.5s;
  color: #3e5a4a;
  border: 3px solid #3e5a4a;
}
/*----------------------*/
.projects-container{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picture-link{
  display: block;
}
.img:hover{
  border: 5px solid white;
}
.cards-content{
  border: 1px solid gray;
  margin: 15px 0px;
}